<% layout('layout') %>
<div class="container">
  <form action="<%-product.id%>?_method=put" method="POST">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Update <em><%- product.productname %></em> Info</h3>
      <div class="btn-group" role="group">

      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
          <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" class="form-control" id="productname" name="productname" value="<%- product.productname %>">
          </div>
          <div class="form-group">
            <label for="qty">Qty:</label>
            <input type="number" class="form-control" id="qty" name="qty" value="<%- product.qty %>">
          </div>
          <div class="form-group">
            <label for="productdesc">Product Description:</label>
            <input type="text" class="form-control" id="productdesc" name="productdesc" value="<%- product.productdesc %>">
          </div>

          <div class="form-group">
            <label for="sku">SKU:</label>
            <input type="number" class="form-control" id="sku" name="sku" value="<%- product.sku %>">
          </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
  </button>
</form>
</div>
